---
metaLinks:
  alternates:
    - >-
      https://app.gitbook.com/s/sURMtU5a91CS3Lcg7rUz/training/04-or-verification-and-certification/csr-verification
---

# CSR Verification

## Test Bank Rules

* Minimum 150 questions
* 60% PK
* 40% other sections
* Monthly updates required

## Benchmarks

| Score         | Action                     |
| ------------- | -------------------------- |
| > 90%         | Shadowing                  |
| 85–90%        | Coaching + re-verification |
| < 85%         | Retraining                 |
| Repeated Fail | HR replacement             |
