---
metaLinks:
  alternates:
    - >-
      https://app.gitbook.com/s/sURMtU5a91CS3Lcg7rUz/training/04-or-verification-and-certification/trainer-verification
---

# Trainer Verification

Trainer must be verified on:

* Product Knowledge
* Project-specific requirements

## New Project

Client verifies trainer.

